.checkout {
    padding: 0em 6em 6em 6em;
    background-color: #323333;
    min-height: calc(100vh);
}

.summary{
    background-color: #ede6e6;
}

.form {
    padding: 2em 0 2em 0em;
}

.confirmation {
    background: rgb(230, 245, 234) !important;
}

.details {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: left;
}