.checkout {
    padding: 0em 6em 6em 6em !important;
    background-color: #323333;
    min-height: calc(100vh) !important;
}

.summary{
    background-color: #ede6e6;
}

.form {
    padding: 2em 0 2em 0em;
}

.confirmation {
    background: rgb(230, 245, 234) !important;
}

.details {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.summary-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}


@media (max-width: 1030px) {
    .checkout {
        padding: 0em 3em 3em 3em !important;
        background-color: #323333;
        min-height: calc(100vh) !important;
    }
}

@media (max-width: 767px) {
    .checkout {
        padding: 0em 1em 1em 1em !important;
        background-color: #323333;
        min-height: calc(100vh) !important;
    }
}

@media (max-width: 586px) {
    .summary-container {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-container {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}