.ui.menu {
    /* border: none !important;
    border-bottom: 1px #6dffff !important; */
    background-color: black !important;
    box-shadow: 0 1px 2px 0 #EB984E !important;
    margin-bottom: 0px;
}

.brand-name{
    color: #EB984E;
    font-family: 'Righteous', cursive !important;
}

.back-button {
    display: block !important;
    text-align: left !important;
}