.homeContainer {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-image: url(/images/cinema.jpg); */
    min-height: calc(100vh);
    margin-left: 0px !important;
}

.title{
    padding-top: 10%;
    color: #EB984E;
    font-family: 'Righteous', cursive;
    font-size: 100px;
}

.locationDropDown {
    width: 70%;
    border-color: #EB984E !important;
    border-width: 2px !important;
    border-right: none !important;
    background-color: transparent !important;
    color: #EB984E !important;
    font-size: large !important;
    font-weight: bold !important;
}

.locationButton {
    margin-left: 3px !important;
    font-size: large !important;
    height: 50px;
}

@media (max-width: 767px) {
    .title{
        padding-top: 30%;
        font-size: 60px;
    }
    .ui.container {
        width: auto!important;
        margin-left: 0em!important;
        margin-right: 0em!important;
    }
}

@media (max-width: 550px) {
    .title{
        padding-top: 60%;
        font-size: 40px;
    }
    .ui.container {
        width: auto!important;
        margin-left: 0em!important;
        margin-right: 0em!important;
    }
}