@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

.movies-selection-page h2{
    font-size: 40px;
    font-family: 'Public Sans', sans-serif !important;
}

.movies-selection-page{
    font-family: 'Ubuntu', sans-serif;
}

.instruction {
    font-family: 'Lexend', sans-serif !important;
    font-size: 20px !important;
}