.seats-page-container{
  /* background-color: grey; */
   padding: 30px;
}

/* .seats-page-container-wrapper{
  background-color: white;
} */

.instruction-container {
  margin-top: 30px;
}

.instruction-container h3 {
  font-size: 20px !important;
}

.react-multi-carousel-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.react-multiple-carousel__arrow {
  background: lightblue;
}

.cardStyle {
  font-weight: bold !important;
  color: 'black' !important;
}

.ticketGroup {
  margin-top: 3px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.ticketLabel {
  background-color: #c0c1c2;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset;
  color: rgba(0,0,0,.95);
  cursor: default !important;
  width: 100px !important;
}

.ticketCountLabel {
  cursor: default !important;
}

.seat-label {
  border-radius: 15px 15px 0px 0px !important;
  border: 2px solid orange !important;
}

.seat-map {
  /* display: block !important; */
  overflow-x: scroll !important;
  /* overflow-x: hidden; */
  /* min-width: 700px; */
}

.screen-container {
  color: teal;
  min-width: 700px !important;
}

.seat-table {
  min-width: 700px !important;
  padding-top: 20px;
  border: none !important;
}

.seats {
  border-radius: 30px 30px 0px 0px;
  border-color: orange !important;
  border: 3px solid;
  /* margin-top: 13px !important;
  padding: 30px 50px; */
}
.screen {
  height: 10px;
  border: 5px solid teal !important;
}

.alley {
  border: none !important;
  pointer-events: none;
}

.occupied-seats {
  background-color: #BDC3C7;
  pointer-events: none;
}
  
.table td:hover {
  opacity: .7 !important;
  cursor: pointer;
}

.confirmation-container {
  margin-top: 20px;
}

